.card {
    position: relative;
    overflow: hidden;
    height: 340px;
    width: 340px;
    border-radius: 25px;
    // border: none;

    img {
        height: 100%;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        background: linear-gradient(to bottom, rgba(240, 221, 221, 0), rgba(0, 0, 0, 1));
    }
    & .red_filter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(238, 9, 9, 0.25);
        z-index: 1;
    }

    p {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        color: #ffffff;
        z-index: 2;
    }

    @media screen and (max-width: 1030px) {
        width: 100%;
    }
}
