.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
    background: #f6f6f6;
    border-radius: 25px;
    margin-top: 43px;
    padding: 56px 50px;
}
